{% load static %}

<div class="about_us">
    <div class="text_about">
        <p class="about_text">Добрый день, дорогие друзья!<br><br>
            Меня зовут Анна и я помогу Вам разработать уникальный дизайн - проект под ваше помещение!
Создаю продуманные, функциональные и уютные пространства для жизни и работы, проработанные визуализации и грамотно составленные чертежи уже более 6 лет.
        Предоставляю полный комплекс услуг по разработке дизайн – проектов. Работы выполняю под конкретный бюджет по прописанному и утвержденному ТЗ, в четко проставленные сроки.
        </p>
        <img src="{% static 'design/i.jpg' %}" alt="" height="300">
    </div>
</div>