{% load static %}
<h5 class="title"><a name="contacts" href="#">Контакты</a></h5>

<div class="contact">
    <div class="text_contacts">
        <p><span>Телефон:</span> +7-(915)-955-999-1</p>
        <p><span>Эл. почта:</span> ANNA_PUTANOVA@MAIL.RU</p>
        <p>Работаем по всей России удаленно.</p>
    </div>
        <div class="text_contacts2">
            <p><span>Мы есть в социальных сетях: </span></p>
            <div class="soc">
                <a class="telegram-number" href="https://t.me/atmosphere_nn" target="_blank"></a>
                <a class="vk-site" href="https://vk.com/atmos_home" target="_blank"></a>
                <a class="whatsapp-number" href="https://web.whatsapp.com/" target="_blank"></a>
            </div>

        </div>
</div>